<div class="container mt-6 background">
  <div class="card">
    <div class="row">
      <div class="col-4 col-sm-4">
        <div class="card-header">
          <h3 class="f-left mt-3">{{ person?.name | uppercase }} </h3>
        </div>
        <img [src]="person?.image" alt="a person? image" width="350" title="{{ person?.name }}"/>

      </div>
      <div class="col-8 col-sm-8 address">
        <a [routerLink]="'/persons'" class="btn btn-primary f-right back">Back</a>
        <div class="card-body">
          <h5 class="card-title"><span class="fa fa-user">  {{ person?.name }}{{ person?.lastname }}</span></h5>
          <span class="fa fa-phone"><span class="card-text p-2">{{ person?.phone }}</span></span><p></p>
          <div class="form-group">
            <label for="text-address">Address</label>
            <textarea id="text-address" rows="6" cols="30" disabled class="form-control w-50 text-center">
                        {{ address }}
                      </textarea>
            <p></p>
          </div>
          <button type="button" class="btn btn-primary" (click)="presupuesto(person?.budgetId)">Budget</button>
        </div>

      </div>
    </div>
    <div class="card-footer p-3">
      <button type="button" class="btn btn-primary f-left btn-detail" (click)="edit(person?.idDB)">Edit</button>
      <button type="button" class="btn btn-danger f-right btn-detail" (click)="delete(person?.idDB)">Delete</button>
  </div>
</div>
