<div class="container mt-6">
  <div class="card">
    <div class="card-header">
      <h3 class="f-left">{{ person()?.name | uppercase }} </h3>
      <a href="/persons" class="btn btn-primary f-right">Back</a>
    </div>
    <img [src]="person()?.image" alt="a person image" width="350" title="{{ person()?.name }}"/>
    <div class="card-body">
      <h5 class="card-title"><span class="fa fa-user">  {{ person()?.name }}</span></h5>
      <span class="fa fa-phone"><span class="card-text p-2">{{ person()?.phone }}</span></span><p></p>
      <textarea rows="5" cols="42">
        {{ address }}
      </textarea>
    </div>
    <div class="card-footer p-3">
      <button class="btn btn-primary f-left btn-detail" (click)="edit(person()?.id)">Edit</button>
      <button class="btn btn-danger f-right btn-detail" (click)="delete(person()!.id)">Delete</button>

  </div>
</div>
