<div class="card container background">
  <div class="card-header">
    <h1 *ngIf="!edit; else editPerson" class="header new-amsterdam-regula f-left">New Person</h1>
    <ng-template #editPerson>
      <h1 class="header new-amsterdam-regular f-left">Editando: {{ person?.name }}</h1>
    </ng-template>
    <a *ngIf="!edit" href="/persons" class="btn btn-primary f-right mt-2">Back</a>
    <a *ngIf="edit" href="/persons/person/{{ person?.idDB }}" class="btn btn-primary f-right mt-2">Back</a>
  </div>
  <div class="card-body form-group">
    <form [formGroup]="personForm" (ngSubmit)="onSubmit()">
      <div *ngIf="false">
        <label for="id">ID</label>
        <input id="id" formControlName="id" type="text" class="form-control">
      </div>

      <div class="row">
        <div class="col-6 col-sm-6">

          <div class="row">
            <div class="col-6 col-sm-6">
              <div>
                <label for="name">Name</label>
                <input id="name" formControlName="name" type="text" class="form-control w-100">
                <div *ngIf="formControls['name'].invalid && (formControls['name'].dirty || formControls['name'].touched)">
                  <div class="text-error" *ngIf="formControls['name'].errors?.['required']">Name is required.</div>
                  <div class="text-error" *ngIf="formControls['name'].errors?.['minlength']">Name must be at least 2 characters long.</div>
                </div>
              </div>

            </div>
            <div class="col-6 col-sm-6">
              <div>
                <label for="lastname">Lastname</label>
                <input id="lastname" formControlName="lastname" type="text" class="form-control w-100">
                <div *ngIf="formControls['lastname'].invalid && (formControls['lastname'].dirty || formControls['lastname'].touched)">
                  <div class="text-error" *ngIf="formControls['lastname'].errors?.['required']">lastname is required.</div>
                  <div class="text-error" *ngIf="formControls['lastname'].errors?.['minlength']">lastname must be at least 2 characters long.
                  </div>
                </div>
              </div>
            </div>
          </div>




          <div>
            <label for="phone">Phone</label>
            <input id="phone" formControlName="phone" type="" class="form-control">
            <div
              *ngIf="formControls['phone'].invalid && (formControls['phone'].dirty || formControls['phone'].touched)">
              <div class="text-error" *ngIf="formControls['phone'].errors?.['required']">Phone is required.</div>
              <div class="text-error" *ngIf="formControls['phone'].errors?.['pattern']">Phone must be a 9-digit number.
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-6">
          <div>
            <label for="email">Email</label>
            <input id="email" type="text" class="form-control" formControlName="email">
            <div
              *ngIf="formControls['email'].invalid && (formControls['email'].dirty || formControls['email'].touched)">
              <div *ngIf="formControls['email'].errors?.['required']" class="text-error">Email is required</div>
              <div *ngIf="formControls['email'].errors?.['pattern']" class="text-error">Email invalid</div>
            </div>
          </div>
          <div>
            <div>
              <label for="password-field">Password</label>
              <input id="password-field" formControlName="password" type="password" class="form-control">
              <span id="password-field-eye" toggle="#password-field" [ngClass]="formControls['email'].invalid ? 'invalid' : 'valid'" class="fa fa-fw fa-eye field-icon " (click)="change()"></span>
            </div>
            <div *ngIf="formControls['password'].invalid && formControls['password'].touched" class="text-error">
              <div *ngIf="formControls['password'].errors?.['required']">Password is required</div>
              <div *ngIf="formControls['password'].errors?.['pattern']" class="text-error">
                <pre>
    At least 8 characters in length
    Lowercase letters
    Uppercase letters
    Numbers
    Special characters
                  </pre>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <fieldset>
          <legend>Address</legend>
          <div class="row">
            <div class="col-4 col-sm-4">

              <label for="street">Street</label>
              <input id="street" formControlName="street" type="text" class="form-control w-75">
              <div
                *ngIf="formControls['street'].invalid && (formControls['street'].dirty || formControls['street'].touched)">
                <div class="text-error" *ngIf="formControls['street'].errors?.['required']">Street is required.</div>
              </div>
            </div>
            <div class="col-4 col-sm-4">
              <label for="city">City</label>
              <input id="city" formControlName="city" type="text" class="form-control w-75">
              <div *ngIf="formControls['city'].invalid && (formControls['city'].dirty || formControls['city'].touched)">
                <div class="text-error" *ngIf="formControls['city'].errors?.['required']">City is required.</div>
              </div>

            </div>

            <div class="col-4 col-sm-4">
              <label for="zipcode">Zip Code</label>
              <input id="zipcode" formControlName="zipcode" type="text" class="form-control w-75">
              <div *ngIf="formControls['zipcode'].invalid && (formControls['zipcode'].dirty || formControls['zipcode'].touched)">
                <div class="text-error" *ngIf="formControls['zipcode'].errors?.['required']">Zip Code is required.</div>
                <div class="text-error" *ngIf="formControls['zipcode'].errors?.['pattern']">Zip code is invalid.</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-4 col-sm-4">
              <label for="country">Country</label>
              <input id="country" formControlName="country" type="text" class="form-control w-75">
              <div
                *ngIf="formControls['country'].invalid && (formControls['country'].dirty || formControls['country'].touched)">
                <div class="text-error" *ngIf="formControls['country'].errors?.['required']">Country is required.
                </div>
              </div>
            </div>
            <div class="col-4 col-sm-4">
              <label for="region">Region</label>
              <input id="region" formControlName="region" type="text" class="form-control w-75">
              <div
                *ngIf="formControls['region'].invalid && (formControls['region'].dirty || formControls['region'].touched)">
                <div class="text-error" *ngIf="formControls['region'].errors?.['required']">Region is required.</div>
              </div>
            </div>
          </div>
        </fieldset>

      </div>

      <div>
        <label for="image" class="p-2">Image URL</label>
        <input id="image" formControlName="image" type="text" class="form-control w-75">
        <div *ngIf="formControls['image'].invalid && (formControls['image'].dirty || formControls['image'].touched)">
          <div class="text-error" *ngIf="formControls['image'].errors?.['required']">Image URL is required.</div>
        </div>
      </div>

      <div class="card-footer">
        <!--         {{ personForm.invalid }}
        @for (error of checkErrors(); track error) {
          {{ error }}
        } -->
        <button type="button" class="btn btn-secondary f-left" (click)="resetForm()">Cancel</button>
        <button type="submit" class="btn btn-primary f-right" [disabled]="personForm.invalid">Submit</button>
      </div>
    </form>
  </div>
</div>
