.container {
  margin-top: 7rem;
}

.card.container {
  width: 50%;
}

.form-control {
  width: 50%;
  margin: 1rem;
}

.text-error {
  color: red;
  margin-top: 0.1rem;
  font-size: smaller;
}

.header {
  color: aqua;
}

.new-amsterdam-regular {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}
