.container {
  margin-top: 7rem;
}

.card.container {
  width: 50%;
}

.form-control {
  width: 70%;
  margin: 1rem;
}

.text-error {
  color: red;
  margin-top: 0.1rem;
  font-size: smaller;
}

.header {
  color: aqua;
}

.new-amsterdam-regular {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.field-icon {
  position: absolute;
  right: 150px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.field-icon.valid {
  top: 24%;
}

.field-icon.invalid {
  top: 26.3%;
}
