<div class="gasto">
  <h2 class="gasto_titulo">Gastos</h2>
  <div *ngFor="let spent of expenses.reverse() | paginate: { id: 'spent', itemsPerPage: 4, currentPage: p }" class="elemento limpiarEstilos">
    <div class="elemento_descripcion">{{ spent.date | date: 'shortDate' }} - {{ spent.description }} </div>
    <div class="right limpiarEstilos">
      <div class="elemento_valor">- {{ spent.quantity | currency : 'EUR': 'symbol' : '1.2-2' }}</div>
      <div class="elemento_porcentaje">{{ (100 * spent.quantity) / budget?.totalBalance! | number: '1.2-2' : 'es' }}%</div>
      <div class="elemento_eliminar">
        <!--     <p-button class="elemento_eliminar--btn" (click)="deleteRecord(spent)"
                  pTooltip="Delete"
                  showDelay="1000"
                  hideDelay="300"
                  ><i class="fa fa-times-circle"></i>Delete</p-button> -->
        <button class="elemento_eliminar--btn" (click)="deleteRecord(spent)">
          <i class="fa fa-times-circle"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="text-center mt-17">
  <pagination-controls (pageChange)="p = $event" id="spent"></pagination-controls>
</div>
