.background {
  min-height: 800px !important;
  width: 100%;
  background: url('../../../public/assets/images/R.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.dashboard {
  font-family: "Gill Sans", sans-serif;
  font-size: larger;
  font-weight: bold;
  color: orange;
}

