@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.background {
  background-color: #2196F3;
  min-height: 1000px;
  font-family: 'helvetica neue';
  background: url(/assets/bg-pattern.png), #2196F3;
  background: url(/assets/bg-pattern.png), -webkit-gradient(linear, right top, left top, from(#2196F3), to(#009688));
  background: url(/assets/bg-pattern.png), linear-gradient(to left, #2196F3, #009688)
}/* You can add global styles to this file, and also import other style files */

.dsc-footer {
    height: 60px;
    width: 100%;
    padding: 0.5rem 0.5rem;
    background: rgba(0,0,0,0.2);
    color: rgba(0,0,0,0.7);
    text-align: center;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.dsc-skeleton-content {
  min-height: calc(100vh - 80px - 60px);
  background: rgb(0,0,0,0.05);
  overflow-x: auto;
}

.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.aqua-gradient {
  background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
}

.testimonial-card .avatar {
  width: 120px;
  margin-top: -60px;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 50%;
}

.right { float: right; }

.contenedor {
  width: 1000px;
  margin: 60px auto !important;
}

.ingreso {
  float: left;
  width: 500px;
  margin-right: 0px;
}

.gasto {
  float: left;
  width: 500px;
}

h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}

.ingreso_titulo { color: #28B9B5; }
.gasto_titulo { color: #FF5049; }

.elemento {
  padding: 13px;
  border-bottom: 1px solid #e7e7e7;
}

.elemento:first-child { border-top: 1px solid #e7e7e7; }
.elemento:nth-child(even) { background-color: #f7f7f7; }

.elemento_descripcion {
  float: left;
}

.elemento_valor {
  float: left;
  transition: transform 0.3s;
}

.elemento_porcentaje {
  float: left;
  margin-left: 20px;
  transition: transform 0.3s;
  font-size: 11px;
  background-color: #FFDAD9;
  padding: 3px;
  border-radius: 3px;
  width: 32px;
  text-align: center;
}

.ingreso .elemento_valor,
.ingreso .elemento_eliminar--btn {
  color: #28B9B5;
}

.gasto .elemento_valor,
.gasto .elemento_porcentaje,
.gasto .elemento_eliminar--btn {
  color: #FF5049;
}


.elemento_eliminar {
  float: left;
}

.elemento_eliminar--btn {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  display: none;
}

.elemento_eliminar--btn:focus { outline: none; }
.elemento_eliminar--btn:active { transform: translateY(2px); }

.elemento:hover .elemento_eliminar--btn { display: block; }
.elemento:hover .elemento_valor { transform: translateX(-20px); }
.elemento:hover .elemento_porcentaje { transform: translateX(-20px); }


.no_pagado {
  background-color: #FFDAD9 !important;
  cursor: pointer;
  color: #FF5049;
}

.no_pagado .elemento_porcentaje { box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1); }
.no_pagado:hover .elemento_descripcion { font-weight: 900; }

.limpiarEstilos::after {
  content: "";
  display: table;
  clear: both;
}
