<div class="cabecero">
  <a href="/persons/person/{{ person()?.id }}" class="btn btn-primary f-left">Back</a>
  <div class="presupuesto">
      <div class="presupuesto_titulo">
          Presupuesto Disponible: {{ person()?.name }}
      </div>

      <div *ngIf="budget()?.totalBalance! > 0" class="presupuesto_valor">+ {{ budget()?.totalBalance | currency : 'EUR': '€' : '1.2-2' }}</div>
      <div *ngIf="budget()?.totalBalance! < 0" class="presupuesto_valor">- {{ budget()?.totalBalance | currency : 'EUR': '€' : '1.2-2' }}</div>

      <div class="presupuesto_ingreso limpiarEstilos">
          <div class="presupuesto_ingreso--texto">Ingresos</div>
          <div class="right">
              <div *ngIf="budget()?.totalIncomes! > 0" class="presupuesto_ingreso--valor">+ {{ budget()?.totalIncomes | currency : 'EUR': '€' : '1.2-2' }}</div>
              <div *ngIf="budget()?.totalIncomes! === 0" class="presupuesto_ingreso--valor">{{ budget()?.totalIncomes | currency : 'EUR': '€' : '1.2-2' }}</div>
              <div class="presupuesto_ingreso--porcentaje">&nbsp;</div>
          </div>
      </div>

      <div class="presupuesto_egreso limpiarEstilos">
          <div class="presupuesto_egreso--text">Gastos</div>
          <div class="right limpiarEstilos">
              <div *ngIf="budget()?.totalExpenses! > 0"class="presupuesto_egreso--valor">- {{ budget()?.totalExpenses | currency : 'EUR': '€' : '1.2-2' }}</div>
              <div *ngIf="budget()?.totalExpenses! === 0"class="presupuesto_egreso--valor">{{ budget()?.totalExpenses | currency : 'EUR': '€' : '1.2-2' }}</div>
              <div *ngIf="budget()?.totalExpenses! !== 0" class="presupuesto_egreso--porcentaje"> {{ percent | number : '1.2-2' }}%</div>
          </div>
      </div>
</div>
</div>
<app-formulario />
<div class="contenedor limpiarEstilos">
  <app-ingreso
    [budgetId]="budgetId">
  </app-ingreso>
  <app-gasto
  [budgetId]="budgetId">
  </app-gasto>
</div>
