<section class="ftco-section js-fullheight">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Customers</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          <h3 class="mb-4 text-center">Have an account?</h3>
          <form [formGroup]="formLogin" (ngSubmit)="submit()" class="signin-form">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="email" placeholder="email"
                autocomplete="username">
              <div *ngIf="formControls['email'].invalid && formControls['email'].touched" class="invalid-feedback">Email is required</div>
              <div *ngIf="formControls['email'].errors?.['pattern']" class="text-error">Email invalid</div>
            </div>
            <div class="form-group">
              <div>
                <input id="password-field" autocomplete="current-password" formControlName="password" type="password"
                  class="form-control" placeholder="Password">
                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password" (click)="change()"></span>
              </div>
              <div *ngIf="formControls['password'].invalid && formControls['password'].touched"
                class="invalid-feedback">
                <div *ngIf="formControls['password'].errors?.['required']">Password is required</div>
                <div *ngIf="formControls['password'].errors?.['pattern']" class="text-error">
                  <pre>
      At least 8 characters in length
      Lowercase letters
      Uppercase letters
      Numbers
      Special characters
                    </pre>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
            </div>
            <div class="form-group d-md-flex">
              <div class="w-50">
                <label class="checkbox-wrap checkbox-primary">Remember Me
                  <input formControlName="remember" type="checkbox" checked>
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="w-50 text-md-right">
                <a href="#" style="color: #fff">Forgot Password</a>
              </div>
            </div>
          </form>
          <p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>
          <div class="social d-flex text-center">
            <a href="#" class="px-2 py-2 mr-md-1 rounded"><i class="fa fa-facebook" aria-hidden="true"></i>
              Facebook</a>
            <a href="#" class="px-2 py-2 ml-md-1 rounded"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
